.thumbs{
    height: 1px;
    width: 10px;
    margin-left: 39%;
}
.thumbs-wrapper {
    height: 50px;
}
.thumbs img{
    width: 100%;
    height: 1%;
}

.carousel-status {
    visibility: hidden;
}
.imgC{
    width: 100%;
    height: 300px;
}