.thumbs{
    height: 1px;
    width: 10px;
    margin-left: 39%;
}

.thumbs img{
    width: 100%;
    height: 1%;
}

.carousel .thumb {
    visibility: hidden;
}

.carousel-status {
    visibility: hidden;
}

.imgC{
    width: 100%;
    height: 250px;
}