/* .form-container{
    font-size: 10px;
    text-align: justify;
    padding: 10px;
}

.form-container input{
    font-size: 10px;
}

.form-container select{
    font-size: 10px;
}

div label{
    padding-left: 4px;
}

/* 

div{
    padding: 5px;
} */

 .input-box button{
    /* font-size: 10px; */
    margin-top: 10px;
}

.form-container{
    font-size: 15px;
    text-align: justify;
    padding: 10px;
}

