.form-container{
    text-align: center;

}



.form-context{
    text-align: center;
}

.input-type input{
    margin-right: 70px;
    padding: 2px;
}

thead{
    padding:3px;
}

.row-type{
    padding: 10px;
}
 
