footer{
    padding: 1.5rem 10% 1rem 10%;
    background-color: black;
    color:white;

}
footer .footer-nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:white;
}
footer .nav-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;

    position:relative;
    display: block;
    padding-bottom: 5px;
}
footer .nav-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #5b966a;
    width:2rem;
    height:3px;
}
footer .nav-title:hover::after{
    width: 100%;
    background-color: white;
    transition: width 1s ease, background-color 1s ease;
}
footer ul, footer li{
    text-decoration: none;
}
footer li{
    color:#787878;
}
.footer-bottom{
    text-align: center;
    border-top:1px solid #787878;
    padding: 2rem 0;
    margin-top: 1rem;
}
.footer-bottom .copyright{

    font-size: 0.7rem;
    color:#bbb9b9;
}
footer a { 
    text-decoration: none; 
    line-height: 2rem;
    color: #bbb9b9;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
}

.footer-nav-list a:hover { 
    color: #60956d;
}

.footer-nav-list li { 
    list-style: none; 
}