.crud-menu {
    background-color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 32%;
    width: 36%;
    border: 2px solid #467953;
    
}

main .crud-menu {
    margin-top: 10px;
    margin-bottom: 0px;
}

.crud-menu a{
    text-decoration: none;
    color: #467953;
    margin-left: 30px;
    margin-right: 30px;
}

.crud-menu a:hover {
    color: #32583c;
    background-color: #32583c25;
    border-bottom: #32583c;
}